body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

.container {
  height: 100vh;
  background-image: url("./assets/images/pilat.png");
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin-top: 16px;
  height: 200px;
  border-radius: 20px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.block-primary {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.block-primary-main {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 5px;
  animation: blink 3s infinite;
}

.block-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

footer {
  position: absolute;
  top: 95%;
}

.wcs {
  text-decoration: none;
  color: #ff1493ad;
}

.wcs:hover {
  border-bottom: solid 1px #ff1493ad;
}

@media screen and (max-width: 760px) {
  .container {
    justify-content: center;
  }
}

@media screen and (min-width: 761px) {
  footer {
    position: absolute;
    top: 95%;
    left: 1%;
  }
  .text-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 250px;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow:
      0 0 5px #ff1493ad,
      0 0 15px #eee,
      0 0 20px #ff1493ad,
      0 0 40px #ad6767,
      0 0 60px #ff0000,
      0 0 10px #ad6767,
      0 0 98px #ff0000;
    color: #fff;
  }
}
