body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #eee;
  margin: 0;
  background-image: url("./assets/images/pilat.png");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Ensure body takes up at least the full viewport height */
}

.container {
  flex: 1; /* Make the container expand to fill the available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  padding: 20px; /* Adjust padding as needed */
}

.logo {
  height: 200px;
  border-radius: 20px;
}

.text-box {
  text-align: center;
  flex: 1; /* Ensure text box expands to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-primary {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.block-primary-main {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 5px;
  animation: blink 3s infinite;
}

.block-primary-sub {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7px;
  display: block;
}

.btn {
  margin-top: 20px; /* Adjust margin as needed */
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

footer {
  margin-top: 20px; /* Adjust margin as needed */
  text-align: center;
  color: #777;
}

.wcs {
  text-decoration: none;
  color: #ff1493ad;
}

.wcs:hover {
  border-bottom: solid 1px #ff1493ad;
}

@media screen and (max-width: 760px) {
  .container {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center items horizontally */
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow:
      0 0 5px #ff1493ad,
      0 0 15px #eee,
      0 0 20px #ff1493ad,
      0 0 40px #ad6767,
      0 0 60px #ff0000,
      0 0 10px #ad6767,
      0 0 98px #ff0000;
    color: #fff;
  }
}
